
.content__header__nav {
    padding: 0 10.67px;
    height: 39.11px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 14.22px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    background: #fffffd;
    .swiper-wrapper{
        zoom: 1;
        white-space: nowrap;
        overflow-x: auto;
        height: 150px;
        font-size: 14.22px;
        .swiper-slide{
            list-style: none;
            display: inline-block;
            width:auto;
            margin:0 15px;
            margin-top:8px;
            a{
                margin: 0 0 0 28.89px;
                height: 39.11px;
                line-height: 39.11px;
                position: relative;
                color: #333;
                text-decoration: none;
                display: block;
                .active {
                    position: absolute;
                    bottom: 0;
                    height: 2.67px;
                    border: 2px;
                    width: 100%;
                    background: #f84e4e;
                }
            }
            
        }
    }
}